<!DOCTYPE html>
<html lang="en">

    <%- include('partial/css.ejs') %>
<body class="index-page">

  

    <%- include('partial/header.ejs') %>
    <main class="main">
        
   

    <%- body %>
   
    </main>
    <%- include('partial/footer.ejs') %>
    <%- include('partial/script.ejs') %>
</body>

</html>